/* Path: index.css */
/* basic css template with animated title */
/* created by: Andrew M. */
/* date: 3/3/2016 */
/* version: 1.0 */
/* last update: 3/3/2016 */
/* description: This is a basic css template with an animated title. */

body {
    background: #000;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;

}

.title h1 {
    color: #fff;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    -webkit-animation: animate 1s linear infinite;
    -moz-animation: animate 1s linear infinite;
    -ms-animation: animate 1s linear infinite;
    -o-animation: animate 1s linear infinite;
    animation: animate 1s linear infinite;
}