* {
    text-decoration: none;
}

body {
    background: #000;
    text-decoration: none;
    color: green;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;

}

.title h1 {
    color: green;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sub-title p {
    display: flex;
    text-align: center;
    justify-content: center;
    color: green;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

a {
    position: relative;
    font-family: monospace;
    background-color: black;
    text-decoration: none;
    color: green;
    font-size: 1.5em;
}

.cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: .5em solid;

    -webkit-animation: typing 5s steps(10, end) infinite,
        blinking 1s step-end infinite;
    animation: typing 5s steps(10, end) infinite,
        blinking 1s step-end infinite;
}

@-webkit-keyframes typing {

    from,
    to {
        width: 100%;
    }

    25% {
        width: 0;
    }

    50% {
        width: 0;
    }

    75% {
        width: 100%;
    }
}

@keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@-webkit-keyframes blinking {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: green;
    }
}

@keyframes blinking {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: green;
    }
}