* {
    text-decoration: none;
}

body {
    background: #000;
    text-decoration: none;
    color: #fff;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;

}

.title h1 {
    color: #fff;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}