/* :root {
    --accent-1: #fffbbe;

    --accent-2: #eec1ea;

    --accent-3: #be97dc;

    --accent-4: #a374d5;
} */

:root {
    --accent-1: #dcb5ff;

    --accent-2: #d9f2ff;

    --accent-3: #a5bdfd;

    --accent-4: #77529e;

}

.header-css {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    color: var(--accent-1);
    background-color: var(--accent-4);

}

.flav-text {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    margin-left: 4rem;
    float: right;
    color: var(--accent-1);
}