/* :root {
    --accent-1: #fff675;

    --accent-2: #eec1ea;

    --accent-3: #be97dc;

    --accent-4: #a374d5;
} */


:root {
    --accent-1: #e4f1fe;

    --accent-2: #8dc6ff;

    --accent-3: #22313f;

    --accent-4: #34495e;

}

body {
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


.content-main {
    font-size: 5rem;
    /* margin-top: 1rem; */
    /* border-radius: 4px; */
    /* border-color: #a1a1a1;
    border-width: 0.2rem;
    border-style: solid; */
    margin-bottom: 16px;
    padding: 19px;
    background-color: var(--accent-4);

    height: 87vh;

}

.content-main h1 {
    color: var(--accent-1);
}

.content-main p {
    color: var(--accent-1);
}





/* .content-main-p {
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 4px;
    margin-bottom: 20px;
    color: var(--accent-4);
    padding: 19px;
} */

/* CSS */
button {
    background: var(--accent-1);
    border-radius: 999px;
    box-shadow: var(--accent-4) 0 10px 20px -10px;
    box-sizing: border-box;
    color: var(--accent-4);
    cursor: pointer;
    font-family: poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    opacity: 1;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    border: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}