body {
  background-color: var(--accent-4);
  font-family: 'Poppins', sans-serif;
  /* color: white; */
  height: 100vh;
  width: 100vw;
}

:root {
  --accent-1: #e4f1fe;

  --accent-2: #8dc6ff;

  --accent-3: #22313f;

  --accent-4: #34495e;

}